DATABASE_URL=
DIRECT_URL=

JWT_SECRET=
JWT_EXPIRES_IN=

DB_SERVER=
DB_PORT=
DB_DATABASE=
DB_USER=
DB_PASSWORD=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=

VERIFY_CODE_EXPIRY_MINUTES=
PORT=



